<%= stylesheet_link_tag "concerto_manykinds/application" %>
<%= javascript_include_tag "concerto_manykinds/application" %>
<section class="viewblock">
  <header class="viewblock-header">

    <div class="viewblock-header_right">
      <div class="button-padding">
      </div>
    </div>

    <div class="default-padding">
      <h1>
        <%= t('.additional_kinds_per_field') %>
      </h1>
    </div>

  </header>
  <div class="viewblock-cont">
    <div class="row-fluid">
      <div class="span12">
        <div class="default-padding">
          <div class="subblock">
            <div class="default-padding clearfix">
              <% @template.positions.each do |p| %>
              <h3><%= "#{p.field.name} #{t('.field')}" %></h3>
              <ul class="list-stacked manykinds-list" id="manykinds_fld<%=p.field.id%>">
                <li><%= p.field.kind.name %> <i class='icon-star' title="<%=t('.fundamental_kind')%>"></i></li>
                <% @manykinds.each do |m| %>
                  <% if m.field.id == p.field.id %>
                    <%= render :partial => 'concerto_manykinds/templates/item', :object => m %>
                  <% end %>
                <% end %>
              </ul>
              <% end %>

              <% if can? :update, @template %>
                <div class="row-fluid">
                  <%= form_for(@manykind_new, :url => manykindsengine.manykinds_path, :html => { 'data-type' => 'json'}, :remote => true, :class => 'form', :format => 'json') do |f| %>
                    <%= f.hidden_field :template_id, :value => @template.id %>
                    <div class="span4">
                      <%= f.label :field_id %>
                      <%= f.collection_select :field_id, Field.all, :id, :name %>
                    </div>
                    <div class="span4">
                      <%= f.label :kind_id %>
                      <%= f.collection_select :kind_id, Kind.all, :id, :name %>
                    </div>
                    <div class="span2">
                      <label>&nbsp;</label>
                      <%= f.button t(:add), :class => 'btn btn-small' %>
                    </div>
                </div>
                  <% end %>
              <% end %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
